//fonts
$font-sans-serif: 'Source Sans Pro', Helvetica, sans-serif;
$font-serif: Lora, 'Times New Roman', serif; 


//colours
$colour-background: #F1FFFE;
$colour-navbar: #D0E8D1;
$colour-footer: #D0E8D1;
$colour-cards: #FFFFE4;
$colour-hover: #7F94E8;
$colour-nav-text: #555;